/* .board{
display: block;
margin-left: auto;
margin-right: auto;
} */


.background{
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
}
.playground{
  padding: 5px;
  width: 500px;
  height: 500px;
  margin-top: 10px;

}

/* .selection{
  padding: 0;
  margin-left: 150px;
  margin-right: 150px;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  
} */

.selection{
  display: grid;
  grid-template-columns: [x]25% [choiceS] 50% [choiceE] 25% [o];
  grid-template-rows: [row1S] 5% [row1E] 50%[row2E];
  justify-items: center;
}

#X{
  grid-column-start: x;
  grid-column-end: choiceS;
  grid-row-start: row1S;
  grid-row-start: row1E;
}

#O{
  grid-column-start: choiceE;
  grid-column-end: o;
  grid-row-start: row1S;
  grid-row-start: row1E;
}

.choice{
  grid-column-start: choiceS;
  grid-column-end: choiceE;
  grid-row-start: row1S;
  grid-row-start: row1E;
  font-size: 2em;
}
/* 
.text-container{
  padding: 0;
  margin-left: 120px;
  margin-right: 120px;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  
} */

.text{
  margin-top: 10px;
  font-size: 0em;
}
#second{
  grid-column-start: choiceE;
  grid-column-end: o;
  grid-row-start: row1E;
  grid-row-start: row2E;
  align-self: flex-end;
}

#first{
  grid-column-start: x;
  grid-column-end: choiceS;
  grid-row-start: row1E;
  grid-row-start: row2E;
  align-self: flex-end;
}
