/* .board{
display: block;
margin-left: auto;
margin-right: auto;
} */


.background{
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
}
.playground{
  padding: 5px;
  width: 500px;
  height: 500px;
  margin-top: 10px;

}

.selection{
  padding: 0;
  margin-left: 150px;
  margin-right: 150px;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.choice{
  font-size: 2em;
}

.text-container{
  padding: 0;
  margin-left: 120px;
  margin-right: 120px;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  
}

.text{
  margin-top: 10px;
  font-size: 0em;
}
